<div>
    <script src="../storeino-app-store.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div id="app_mega_menu" class="flex justify-center flex-col w-full">
      <template>
        <div class=" bg-white flex w-full border-b shadow-md h-20">
          <div
            class="w-full flex flex-col gap-2 p-6"
            v-for="(item, i) in menus.menu"
            :key="i"
          >
            <h1
              class="text-sm p-2 capitalize font-medium cursor-pointer"
              @mouseover="HoverItem = i"
              @mouseleave="HoverItem = null"
            >
              {{ item.slug }}
            </h1>
            <ul
              v-if="item.children && item.children.length > 0"
              class="flex flex-col fixed left-0 right-0 top-16 z-40 w-full"
              @mouseover="HoverItem = i"
              @mouseleave="HoverItem = null"
            >
            <!-- style 1-->
              <li
                class="flex w-full  justify-center  bg-white "
                v-if="HoverItem === i && item.type === 'style1'"
              >
                <div
                  class="flex flex-col gap-2 p-4 w-full"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                >
                  <img
                    src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=600"
                    :alt="item.slug"
                    class="w-full h-40 object-cover"
                  />
                  <span class="text-gray-600 text-sm">
                    Lorem ipsum dolor sit amet.
                  </span>
                  <div class="flex items-center">
                    <img
                      src="https://images.pexels.com/photos/3587478/pexels-photo-3587478.jpeg?auto=compress&cs=tinysrgb&w=600"
                       :alt="item.slug"
                      class="w-10 h-10 object-cover"
                    />
                    <span class="flex items-center hover:bg-gray-50 p-2">
                      <span class="p-2">{{ child.slug }}</span>
                    </span>
                  </div>
                </div>
              </li>
<!-- style 2-->
              <li
                class="flex w-full  justify-center "
                v-else-if="HoverItem === i && item.type === 'style2'"
              >
                <div
                  class="flex  shadow-md bg-white gap-2 p-4 w-full"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                >
                <img
                src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=600"
                 :alt="item.slug"
                class="w-40 h-40 object-cover"
              />
              <div class=" "> 
                  <h1 class="mb-2">{{ child.slug }}</h1>
                  <span class="text-gray-700 text-sm mb-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </span>
              </div>
                </div>
              </li>
  <!-- style 3-->
              <li
                class="flex w-full  justify-center  p-2 "
                v-else-if="HoverItem === i && item.type === 'style3'"
              >
                <div
                  class="flex flex-col justify-between items-center bg-white gap-2 p-4  space-x-2 "
                  v-for="(child, ii) in item.children"
                  :key="ii"
                >
                  <img
                    src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="Page"
                    class="w-20 h-20 object-cover rounded-full"
                  />
                  <div class=" text-center flex flex-col "> 
                      <h1 class="mb-2 text-center">{{ child.slug }}</h1>
                      <span class="text-gray-700 text-sm mb-2 text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      </span>
                  </div>
                </div>
              </li>
  
<!-- Default -->
              <li
                class="flex  flex-col  w-full  justify-center  shadow-md bg-white "
                v-else-if="HoverItem === i && item.type == 'simple'"
              >
                <div
                  class="flex flex-col justify-center "
                  v-for="(child, ii) in item.children"
                  :key="ii"
                > 
                  <span class="flex  justify-center items-center hover:bg-gray-50 p-2  gap-2">
                    <span v-html="svg('direction')"></span>
                    <span class="">{{ child.slug }}</span>
                  </span>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </template>
    </div>
  </div>
  