<div>
  <script src="../storeino-app-store.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div id="app_mega_menu" class="flex justify-center flex-col w-full">
    <template>
      <div
        v-for="(items, i) in placementComponents"
        class="w-full"
        :style="{
          color: items.contentColor || 'black', 
          backgroundColor: items.backgroundColor || 'blue'
        }"
      >
        <div
          class="flex w-full flex-wrap border-b shadow-md"
          :class="menus.DesignType === 'horizontal' ? '' : 'flex-row'"
        >
          <div
            class="flex flex-col gap-2 p-2"
            v-for="(item, i) in items.menu"
            :key="i"
            @mouseenter="handleMouseEnter(i)"
            @mouseleave="handleMouseLeave"
          >
          <h1
          class="text-sm p-2 capitalize font-medium cursor-pointer"
          @click="item.children.length > 0 ? void 0 :NavigateTo(item.url)"
        >
          {{ item.slug }}
        </h1>
            <ul
              :style="{
                color: items.contentColor || 'black', 
                backgroundColor: items.backgroundColor || 'blue'
              }"
              v-if="item.children && item.children.length > 0"
              class="flex flex-col fixed left-0 right-0 top-16 z-40 w-full"
              v-show="HoverItem === i"
              @mouseenter="handleMouseEnter(i)"
              @mouseleave="handleMouseLeave"
            >
              <!-- Default (Simple) -->
              <li
                v-if="item.type === 'simple'"
                class="flex flex-col w-full shadow-md"
                v-for="(child, ii) in item.children"
                :key="ii"
              >
                <div
                  class="flex flex-col justify-center"
                  @click="NavigateTo(child.url)"
                >
                  <span
                    class="flex justify-center items-center p-2 gap-2"
                  >
                    <span v-html="svg('direction')"></span>
                    <span>{{ child.slug }}</span>
                  </span>

                  <!-- Loop through children of children for Simple style -->
                  <div
                    v-if="child.children && child.children.length > 0"
                    class="flex flex-col gap-2 ml-4 w-full"
                  >
                    <div
                      v-for="(subChild, iii) in child.children"
                      :key="iii"
                      @click="NavigateTo(subChild.url)"
                      class="flex items-center  p-2 gap-2"
                    >
                      <span v-html="svg('direction')"></span>
                      <span class="text-sm cursor-pointer hover:underline"
                        >{{ subChild.slug }}</span
                      >
                    </div>
                  </div>
                </div>
              </li>

              <!-- Style 1 -->
              <li class="flex flex-wrap w-full " v-if="item.type === 'style1'">
                <div
                  class="flex flex-col gap-2 p-4"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                  @click="NavigateTo(child.url)"
                >
                  <img
                    v-if="child.data && child.data.image"
                    :src="child.data.image?.src || child.data.image?.url || 'https://images.pexels.com/photos/29390501/pexels-photo-29390501/free-photo-of-aerial-beach-view-with-waves-and-sand-dunes.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'"
                    :alt="child.slug"
                    class="h-40 w-40"
                  />
                  <span
                    class="flex items-center  justify-center"
                  >
                    <span class="p-2 text-center uppercase"
                      >{{ child.slug }}</span
                    >
                  </span>
                  <span class="text-sm">{{item.data?.description}}</span>

                  <!-- Loop through children of children for Style 1 -->
                  <div
                    v-if="child.children && child.children.length > 0"
                    class="flex flex-col gap-2 ml-4"
                  >
                    <div
                      v-for="(subChild, iii) in child.children"
                      :key="iii"
                      @click="NavigateTo(subChild.url)"
                      class="flex items-center  p-2 gap-2"
                    >
                      <span class="text-sm cursor-pointer hover:underline"
                        >{{ subChild.slug }}</span
                      >
                    </div>
                  </div>
                </div>
              </li>

              <!-- Style 2 -->
              <li class="flex w-full " v-else-if="item.type === 'style2'">
                <div
                  class="flex  shadow-md gap-2 p-4 w-full"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                  @click="NavigateTo(child.url)"
                >
                  <img
                    v-if="child.data && child.data.image"
                    :src="child.data.image?.src || child.data.image?.url || 'https://images.pexels.com/photos/29390501/pexels-photo-29390501/free-photo-of-aerial-beach-view-with-waves-and-sand-dunes.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'"
                    :alt="child.slug"
                    class="h-20 w-20"
                  />
                  <div>
                    <h1 class="mb-2">{{ child.slug }}</h1>
                    <span class="text-sm mb-2">
                      {{ child.data?.description || child.data?.excerpt }}
                    </span>
                  </div>

                  <!-- Loop through children of children for Style 2 -->
                  <div
                    v-if="child.children && child.children.length > 0"
                    class="flex flex-col gap-2 ml-4"
                  >
                    <div
                      v-for="(subChild, iii) in child.children"
                      :key="iii"
                      @click="NavigateTo(subChild.url)"
                      class="flex items-center  p-2 gap-2"
                    >
                      <span class="text-sm cursor-pointer hover:underline"
                        >{{ subChild.slug }}</span
                      >
                    </div>
                  </div>
                </div>
              </li>

              <!-- Style 3 -->
              <li class="flex w-full p-2 " v-else-if="item.type === 'style3'">
                <div
                  class="flex flex-col  items-center gap-2 p-4"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                  @click="NavigateTo(child.url)"
                >
                  <img
                    v-if="child.data && child.data.image"
                    :src="child.data.image?.src || child.data.image?.url || 'https://images.pexels.com/photos/29390501/pexels-photo-29390501/free-photo-of-aerial-beach-view-with-waves-and-sand-dunes.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'"
                    :alt="child.slug || 'Default Alt Text'"
                    class="w-20 h-20 object-cover rounded-full" 
                  />

                  <div class="text-center flex flex-col">
                    <h1 class="mb-2 text-center text-xl">{{ child.slug }}</h1>
                    <span class="text-sm mb-2 text-center"
                      >{{item.data?.description}}
                      </span
                    >
                  </div>

                  <!-- Loop through children of children for Style 3 -->
                  <div
                    v-if="child.children && child.children.length > 0"
                    class="w-full flex flex-col gap-2 ml-4"
                  >
                    <div
                      v-for="(subChild, iii) in child.children"
                      :key="iii"
                      @click="NavigateTo(subChild.url)"
                      class="flex items-center  p-2 gap-2"
                    >
                      <span class="text-xl cursor-pointer hover:underline"
                        >{{ subChild.slug }}</span
                      >
                    </div>
                  </div>
                </div>
              </li>

              <!-- Style 4 -->
              <li class="flex w-full p-2 " v-else-if="item.type === 'style4'">
                <div
                  class="flex flex-col justify-between items-center gap-2 p-4"
                  v-for="(child, ii) in item.children"
                  :key="ii"
                  @click="NavigateTo(child.url)"
                >
                  <img
                    v-if="child.data && child.data.image"
                    :src="child.data.image?.src || child.data.image?.url || 'https://images.pexels.com/photos/29390501/pexels-photo-29390501/free-photo-of-aerial-beach-view-with-waves-and-sand-dunes.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load'"
                    :alt="child.slug"
                    class="h-20 w-20"
                  />
                  <div class="text-center flex flex-col">
                    <h1 class="mb-2 text-center">{{ child.slug }}</h1>
                    <span class="text-sm mb-2 text-center">{{child.data?.description}}</span>
                  </div>

                  <!-- Loop through children of children for Style 4 -->
                  <div
                    v-if="child.children && child.children.length > 0"
                    class="flex flex-col justify-end gap-2 ml-4"
                  >
                    <div
                      v-for="(subChild, iii) in child.children"
                      :key="iii"
                      @click="NavigateTo(subChild.url)"
                      class="flex items-center  p-2 gap-2"
                    >
                      <span class="text-sm cursor-pointer hover:underline"
                        >{{ subChild.slug }}</span
                      >
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
